
/*********************************FACE**********************/
.Top
{
  background-color: #CDF0EA;
  height: auto;
  width: 100%;
  position: relative;
}

/*********************************IMAGES**********************/

.cloud1
{
  position: absolute;
    right: 20px;
}
.mountain
{
    position: relative;
    left: 400px;
}
.cloud2
{
  position: absolute;
    right: 428px;
    top: 436px;
}

.profpic
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 251px;

}

.IoT
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 251px;
}

.WebDep
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 251px;

}
/*********************************BODY**********************/
body
{
  margin: 0;
  font-family: 'Merriweather', serif;
}

/*********************************HEADINGS**********************/

h1
{
    font-size: 5.682rem;
    margin: 0;
    font-family: 'Sacramento', cursive;
    padding-left: 0;
    text-align: center;
    color: #66BFBF;
    line-height: 2;
}

h2
{
  font-family: 'Monteserrat', sans-serif;
  text-align: center;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
}

h3
{
  text-align: center;
  font-family: 'Monteserrat', sans-serif;
  color: #11999E;
}

/*********************************DESCRIPTION**********************/


p
{
text-align: center;
}

a
{
  color: #11999E;
}

.bottom-container
{
  text-align: center;
}
